.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;
    
  border-color: black;
  margin: auto;  
  background-color: rgba(0, 0,0,0.5);  
}  
.popup\_inner { 
    margin-top: 700px; 
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: 0 auto;  
  border-radius: 20px;  
  
  background: white;  
  background-color: white;
}

.centre{
  size:auto;
  align-self: auto;
  text-align: center;
  align-items: center;
  
 
}
.pagination {
  display: flex;
  justify-content: center;
}
.cdtask { 
  margin:0 auto;
  width: 30%;
  height: 50%;
  
  padding: 10px;
}
.cdtasks { 
  float: left;
  width: 17%;
  height: 5%;
  
 
}



.ctab{
  margin: 0 auto;
}

.cd { 
  align-items: center;
  align-self: auto;
  margin: auto;
  width: 70%;
  height: 50%;
  border: 3px solid black;
  padding: 10px;
}

.hide{
  display: none;
}